<div class="container-fluid">
	<div class="page-title">
		<h4>Tabs</h4>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-block">
							<h4 class="card-title">Default Tabs</h4>
							<uib-tabset class="tab-info" type="tabs">
								<uib-tab heading="Home">  
									<div class="pdd-horizon-15 pdd-vertical-20">
										<p>Oh, yes, that's very good. I like that. Oh! Something's not right because now I can't see. Wait. Wait! Oh, my! what have you done? I'm backwards, you stupid furball. Only an overgrown mophead like you would be stupid enough... I feel terrible. Why are they doing this? They never even asked me any questions. Lando. Get out of here, Lando! Shut up and listen! Vader has agreed to turn Leia and Chewie over to me. Over to you? They'll have to stay here, but at least they'll be safe.</p>
									</div>
								</uib-tab>
								<uib-tab heading="Profile">
									<div class="pdd-horizon-15 pdd-vertical-20">
										<p>Rouge Group, use your harpoons and tow cables. Go for the legs. It might be our only chance of stopping them. All right, stand by, Dack. Luke, we've got a malfunction in fire control. I'll have to cut in the auxiliary. ust hang on. Hang on, Dack. Get ready to fire that tow cable. Dack? Dack! Yes, Lord Vader. I've reached the main power generator. The shield will be down in moments. You may start your landing. Rouge Three. Copy, Rouge Leader Wedge, I've lost my gunner.You'll have to make this shot.</p>
									</div>
								</uib-tab>
								<uib-tab heading="Setting">
									<div class="pdd-horizon-15 pdd-vertical-20">
										<p>If only you had attached my legs, I wouldn't be in this ridiculous position. Now, remember, Chewbacca, you have a responsibility to me, so don't do anything foolish. What's going on...buddy? You're being put into carbon freeze. What if he doesn't survive? He's worth a lot to me. The Empire will compensate you if he dies. Put him in! Oh, no! No, no, no! Stop, Chewbacca, stop...! Stop, Chewie, stop! Do you hear me? Stop! Yes, stop, please! I'm not ready to die. Chewie! Chewie, this won't help me.</p>
									</div>
								</uib-tab>
							</uib-tabset>
						</div>
					</div>
					<div class="card">
						<div class="padding-20">
							<h4 class="card-title no-mrg-btm">Card Tabs</h4>
						</div>
						<uib-tabset class="tab-info" type="tabs">
							<uib-tab heading="Home">  
								<div class="pdd-horizon-15 pdd-vertical-25">
									<p>Oh, yes, that's very good. I like that. Oh! Something's not right because now I can't see. Wait. Wait! Oh, my! what have you done? I'm backwards, you stupid furball. Only an overgrown mophead like you would be stupid enough... I feel terrible. Why are they doing this? They never even asked me any questions. Lando. Get out of here, Lando! Shut up and listen! Vader has agreed to turn Leia and Chewie over to me. Over to you? They'll have to stay here, but at least they'll be safe.</p>
								</div>
							</uib-tab>
							<uib-tab heading="Profile">
								<div class="pdd-horizon-15 pdd-vertical-25">
									<p>Rouge Group, use your harpoons and tow cables. Go for the legs. It might be our only chance of stopping them. All right, stand by, Dack. Luke, we've got a malfunction in fire control. I'll have to cut in the auxiliary. ust hang on. Hang on, Dack. Get ready to fire that tow cable. Dack? Dack! Yes, Lord Vader. I've reached the main power generator. The shield will be down in moments. You may start your landing. Rouge Three. Copy, Rouge Leader Wedge, I've lost my gunner.You'll have to make this shot.</p>
								</div>
							</uib-tab>
							<uib-tab heading="Setting">
								<div class="pdd-horizon-15 pdd-vertical-25">
									<p>If only you had attached my legs, I wouldn't be in this ridiculous position. Now, remember, Chewbacca, you have a responsibility to me, so don't do anything foolish. What's going on...buddy? You're being put into carbon freeze. What if he doesn't survive? He's worth a lot to me. The Empire will compensate you if he dies. Put him in! Oh, no! No, no, no! Stop, Chewbacca, stop...! Stop, Chewie, stop! Do you hear me? Stop! Yes, stop, please! I'm not ready to die. Chewie! Chewie, this won't help me.</p>
								</div>
							</uib-tab>
						</uib-tabset>
					</div>
					<div class="card">
						<div class="padding-20">
							<h4 class="card-title no-mrg-btm">Tabs Centered</h4>
						</div>
						<uib-tabset class="tab-info center-tabs" type="tabs">
							<uib-tab heading="Home">  
								<div class="pdd-horizon-15 pdd-vertical-25">
									<p>Oh, yes, that's very good. I like that. Oh! Something's not right because now I can't see. Wait. Wait! Oh, my! what have you done? I'm backwards, you stupid furball. Only an overgrown mophead like you would be stupid enough... I feel terrible. Why are they doing this? They never even asked me any questions. Lando. Get out of here, Lando! Shut up and listen! Vader has agreed to turn Leia and Chewie over to me. Over to you? They'll have to stay here, but at least they'll be safe.</p>
								</div>
							</uib-tab>
							<uib-tab heading="Profile">
								<div class="pdd-horizon-15 pdd-vertical-25">
									<p>Rouge Group, use your harpoons and tow cables. Go for the legs. It might be our only chance of stopping them. All right, stand by, Dack. Luke, we've got a malfunction in fire control. I'll have to cut in the auxiliary. ust hang on. Hang on, Dack. Get ready to fire that tow cable. Dack? Dack! Yes, Lord Vader. I've reached the main power generator. The shield will be down in moments. You may start your landing. Rouge Three. Copy, Rouge Leader Wedge, I've lost my gunner.You'll have to make this shot.</p>
								</div>
							</uib-tab>
							<uib-tab heading="Setting">
								<div class="pdd-horizon-15 pdd-vertical-25">
									<p>If only you had attached my legs, I wouldn't be in this ridiculous position. Now, remember, Chewbacca, you have a responsibility to me, so don't do anything foolish. What's going on...buddy? You're being put into carbon freeze. What if he doesn't survive? He's worth a lot to me. The Empire will compensate you if he dies. Put him in! Oh, no! No, no, no! Stop, Chewbacca, stop...! Stop, Chewie, stop! Do you hear me? Stop! Yes, stop, please! I'm not ready to die. Chewie! Chewie, this won't help me.</p>
								</div>
							</uib-tab>
						</uib-tabset>
					</div>
					<div class="card">
						<div class="padding-20">
							<h4 class="card-title no-mrg-btm">Tabs Primary</h4>
						</div>
						<uib-tabset class="tab-primary" type="tabs">
							<uib-tab heading="Home">  
								<div class="pdd-horizon-15 pdd-vertical-25">
									<p>Oh, yes, that's very good. I like that. Oh! Something's not right because now I can't see. Wait. Wait! Oh, my! what have you done? I'm backwards, you stupid furball. Only an overgrown mophead like you would be stupid enough... I feel terrible. Why are they doing this? They never even asked me any questions. Lando. Get out of here, Lando! Shut up and listen! Vader has agreed to turn Leia and Chewie over to me. Over to you? They'll have to stay here, but at least they'll be safe.</p>
								</div>
							</uib-tab>
							<uib-tab heading="Profile">
								<div class="pdd-horizon-15 pdd-vertical-25">
									<p>Rouge Group, use your harpoons and tow cables. Go for the legs. It might be our only chance of stopping them. All right, stand by, Dack. Luke, we've got a malfunction in fire control. I'll have to cut in the auxiliary. ust hang on. Hang on, Dack. Get ready to fire that tow cable. Dack? Dack! Yes, Lord Vader. I've reached the main power generator. The shield will be down in moments. You may start your landing. Rouge Three. Copy, Rouge Leader Wedge, I've lost my gunner.You'll have to make this shot.</p>
								</div>
							</uib-tab>
							<uib-tab heading="Setting">
								<div class="pdd-horizon-15 pdd-vertical-25">
									<p>If only you had attached my legs, I wouldn't be in this ridiculous position. Now, remember, Chewbacca, you have a responsibility to me, so don't do anything foolish. What's going on...buddy? You're being put into carbon freeze. What if he doesn't survive? He's worth a lot to me. The Empire will compensate you if he dies. Put him in! Oh, no! No, no, no! Stop, Chewbacca, stop...! Stop, Chewie, stop! Do you hear me? Stop! Yes, stop, please! I'm not ready to die. Chewie! Chewie, this won't help me.</p>
								</div>
							</uib-tab>
						</uib-tabset>
					</div>
					<div class="card">
						<div class="padding-20">
							<h4 class="card-title no-mrg-btm">Tabs Success</h4>
						</div>
						<uib-tabset class="tab-success" type="tabs">
							<uib-tab heading="Home">  
								<div class="pdd-horizon-15 pdd-vertical-25">
									<p>Oh, yes, that's very good. I like that. Oh! Something's not right because now I can't see. Wait. Wait! Oh, my! what have you done? I'm backwards, you stupid furball. Only an overgrown mophead like you would be stupid enough... I feel terrible. Why are they doing this? They never even asked me any questions. Lando. Get out of here, Lando! Shut up and listen! Vader has agreed to turn Leia and Chewie over to me. Over to you? They'll have to stay here, but at least they'll be safe.</p>
								</div>
							</uib-tab>
							<uib-tab heading="Profile">
								<div class="pdd-horizon-15 pdd-vertical-25">
									<p>Rouge Group, use your harpoons and tow cables. Go for the legs. It might be our only chance of stopping them. All right, stand by, Dack. Luke, we've got a malfunction in fire control. I'll have to cut in the auxiliary. ust hang on. Hang on, Dack. Get ready to fire that tow cable. Dack? Dack! Yes, Lord Vader. I've reached the main power generator. The shield will be down in moments. You may start your landing. Rouge Three. Copy, Rouge Leader Wedge, I've lost my gunner.You'll have to make this shot.</p>
								</div>
							</uib-tab>
							<uib-tab heading="Setting">
								<div class="pdd-horizon-15 pdd-vertical-25">
									<p>If only you had attached my legs, I wouldn't be in this ridiculous position. Now, remember, Chewbacca, you have a responsibility to me, so don't do anything foolish. What's going on...buddy? You're being put into carbon freeze. What if he doesn't survive? He's worth a lot to me. The Empire will compensate you if he dies. Put him in! Oh, no! No, no, no! Stop, Chewbacca, stop...! Stop, Chewie, stop! Do you hear me? Stop! Yes, stop, please! I'm not ready to die. Chewie! Chewie, this won't help me.</p>
								</div>
							</uib-tab>
						</uib-tabset>
					</div>
					<div class="card">
						<div class="padding-20">
							<h4 class="card-title no-mrg-btm">Tabs Info</h4>
						</div>
						<uib-tabset class="tab-info" type="tabs">
							<uib-tab heading="Home">  
								<div class="pdd-horizon-15 pdd-vertical-25">
									<p>Oh, yes, that's very good. I like that. Oh! Something's not right because now I can't see. Wait. Wait! Oh, my! what have you done? I'm backwards, you stupid furball. Only an overgrown mophead like you would be stupid enough... I feel terrible. Why are they doing this? They never even asked me any questions. Lando. Get out of here, Lando! Shut up and listen! Vader has agreed to turn Leia and Chewie over to me. Over to you? They'll have to stay here, but at least they'll be safe.</p>
								</div>
							</uib-tab>
							<uib-tab heading="Profile">
								<div class="pdd-horizon-15 pdd-vertical-25">
									<p>Rouge Group, use your harpoons and tow cables. Go for the legs. It might be our only chance of stopping them. All right, stand by, Dack. Luke, we've got a malfunction in fire control. I'll have to cut in the auxiliary. ust hang on. Hang on, Dack. Get ready to fire that tow cable. Dack? Dack! Yes, Lord Vader. I've reached the main power generator. The shield will be down in moments. You may start your landing. Rouge Three. Copy, Rouge Leader Wedge, I've lost my gunner.You'll have to make this shot.</p>
								</div>
							</uib-tab>
							<uib-tab heading="Setting">
								<div class="pdd-horizon-15 pdd-vertical-25">
									<p>If only you had attached my legs, I wouldn't be in this ridiculous position. Now, remember, Chewbacca, you have a responsibility to me, so don't do anything foolish. What's going on...buddy? You're being put into carbon freeze. What if he doesn't survive? He's worth a lot to me. The Empire will compensate you if he dies. Put him in! Oh, no! No, no, no! Stop, Chewbacca, stop...! Stop, Chewie, stop! Do you hear me? Stop! Yes, stop, please! I'm not ready to die. Chewie! Chewie, this won't help me.</p>
								</div>
							</uib-tab>
						</uib-tabset>
					</div>
					<div class="card">
						<div class="padding-20">
							<h4 class="card-title no-mrg-btm">Tabs Warning</h4>
						</div>
						<uib-tabset class="tab-warning" type="tabs">
							<uib-tab heading="Home">  
								<div class="pdd-horizon-15 pdd-vertical-25">
									<p>Oh, yes, that's very good. I like that. Oh! Something's not right because now I can't see. Wait. Wait! Oh, my! what have you done? I'm backwards, you stupid furball. Only an overgrown mophead like you would be stupid enough... I feel terrible. Why are they doing this? They never even asked me any questions. Lando. Get out of here, Lando! Shut up and listen! Vader has agreed to turn Leia and Chewie over to me. Over to you? They'll have to stay here, but at least they'll be safe.</p>
								</div>
							</uib-tab>
							<uib-tab heading="Profile">
								<div class="pdd-horizon-15 pdd-vertical-25">
									<p>Rouge Group, use your harpoons and tow cables. Go for the legs. It might be our only chance of stopping them. All right, stand by, Dack. Luke, we've got a malfunction in fire control. I'll have to cut in the auxiliary. ust hang on. Hang on, Dack. Get ready to fire that tow cable. Dack? Dack! Yes, Lord Vader. I've reached the main power generator. The shield will be down in moments. You may start your landing. Rouge Three. Copy, Rouge Leader Wedge, I've lost my gunner.You'll have to make this shot.</p>
								</div>
							</uib-tab>
							<uib-tab heading="Setting">
								<div class="pdd-horizon-15 pdd-vertical-25">
									<p>If only you had attached my legs, I wouldn't be in this ridiculous position. Now, remember, Chewbacca, you have a responsibility to me, so don't do anything foolish. What's going on...buddy? You're being put into carbon freeze. What if he doesn't survive? He's worth a lot to me. The Empire will compensate you if he dies. Put him in! Oh, no! No, no, no! Stop, Chewbacca, stop...! Stop, Chewie, stop! Do you hear me? Stop! Yes, stop, please! I'm not ready to die. Chewie! Chewie, this won't help me.</p>
								</div>
							</uib-tab>
						</uib-tabset>
					</div>
					<div class="card">
						<div class="padding-20">
							<h4 class="card-title no-mrg-btm">Tabs Danger</h4>
						</div>
						<uib-tabset class="tab-danger" type="tabs">
							<uib-tab heading="Home">  
								<div class="pdd-horizon-15 pdd-vertical-25">
									<p>Oh, yes, that's very good. I like that. Oh! Something's not right because now I can't see. Wait. Wait! Oh, my! what have you done? I'm backwards, you stupid furball. Only an overgrown mophead like you would be stupid enough... I feel terrible. Why are they doing this? They never even asked me any questions. Lando. Get out of here, Lando! Shut up and listen! Vader has agreed to turn Leia and Chewie over to me. Over to you? They'll have to stay here, but at least they'll be safe.</p>
								</div>
							</uib-tab>
							<uib-tab heading="Profile">
								<div class="pdd-horizon-15 pdd-vertical-25">
									<p>Rouge Group, use your harpoons and tow cables. Go for the legs. It might be our only chance of stopping them. All right, stand by, Dack. Luke, we've got a malfunction in fire control. I'll have to cut in the auxiliary. ust hang on. Hang on, Dack. Get ready to fire that tow cable. Dack? Dack! Yes, Lord Vader. I've reached the main power generator. The shield will be down in moments. You may start your landing. Rouge Three. Copy, Rouge Leader Wedge, I've lost my gunner.You'll have to make this shot.</p>
								</div>
							</uib-tab>
							<uib-tab heading="Setting">
								<div class="pdd-horizon-15 pdd-vertical-25">
									<p>If only you had attached my legs, I wouldn't be in this ridiculous position. Now, remember, Chewbacca, you have a responsibility to me, so don't do anything foolish. What's going on...buddy? You're being put into carbon freeze. What if he doesn't survive? He's worth a lot to me. The Empire will compensate you if he dies. Put him in! Oh, no! No, no, no! Stop, Chewbacca, stop...! Stop, Chewie, stop! Do you hear me? Stop! Yes, stop, please! I'm not ready to die. Chewie! Chewie, this won't help me.</p>
								</div>
							</uib-tab>
						</uib-tabset>
					</div>
				</div>
				<div class="col-md-6">	
					<div class="card">
						<div class="card-block">
							<h4 class="card-title mrg-btm-20">Nav Pills</h4>
							<uib-tabset class="pill-info" type="pills">
								<uib-tab heading="Home">  
									<div class="pdd-horizon-15 pdd-vertical-20">
										<p>Oh, yes, that's very good. I like that. Oh! Something's not right because now I can't see. Wait. Wait! Oh, my! what have you done? I'm backwards, you stupid furball. Only an overgrown mophead like you would be stupid enough... I feel terrible. Why are they doing this? They never even asked me any questions. Lando. Get out of here, Lando! Shut up and listen! Vader has agreed to turn Leia and Chewie over to me. Over to you? They'll have to stay here, but at least they'll be safe.</p>
									</div>
								</uib-tab>
								<uib-tab heading="Profile">
									<div class="pdd-horizon-15 pdd-vertical-20">
										<p>Rouge Group, use your harpoons and tow cables. Go for the legs. It might be our only chance of stopping them. All right, stand by, Dack. Luke, we've got a malfunction in fire control. I'll have to cut in the auxiliary. ust hang on. Hang on, Dack. Get ready to fire that tow cable. Dack? Dack! Yes, Lord Vader. I've reached the main power generator. The shield will be down in moments. You may start your landing. Rouge Three. Copy, Rouge Leader Wedge, I've lost my gunner.You'll have to make this shot.</p>
									</div>
								</uib-tab>
								<uib-tab heading="Setting">
									<div class="pdd-horizon-15 pdd-vertical-20">
										<p>If only you had attached my legs, I wouldn't be in this ridiculous position. Now, remember, Chewbacca, you have a responsibility to me, so don't do anything foolish. What's going on...buddy? You're being put into carbon freeze. What if he doesn't survive? He's worth a lot to me. The Empire will compensate you if he dies. Put him in! Oh, no! No, no, no! Stop, Chewbacca, stop...! Stop, Chewie, stop! Do you hear me? Stop! Yes, stop, please! I'm not ready to die. Chewie! Chewie, this won't help me.</p>
									</div>
								</uib-tab>
							</uib-tabset>
						</div>
					</div>
					<div class="card">
						<div class="card-block">
							<h4 class="card-title mrg-btm-20">Nav Pills Vertical</h4>
							<uib-tabset vertical="true" class="tab-info nav-vertical clearfix" type="pills">
								<uib-tab heading="Home">  
									<div class="pdd-horizon-15">
										<p>Oh, yes, that's very good. I like that. Oh! Something's not right because now I can't see. Wait. Wait! Oh, my! what have you done? I'm backwards, you stupid furball. Only an overgrown mophead like you would be stupid enough... I feel terrible. Why are they doing this? They never even asked me any questions. Lando. Get out of here, Lando! Shut up and listen! Vader has agreed to turn Leia and Chewie over to me. Over to you? They'll have to stay here, but at least they'll be safe.</p>
									</div>
								</uib-tab>
								<uib-tab heading="Profile">
									<div class="pdd-horizon-15">
										<p>Rouge Group, use your harpoons and tow cables. Go for the legs. It might be our only chance of stopping them. All right, stand by, Dack. Luke, we've got a malfunction in fire control. I'll have to cut in the auxiliary. ust hang on. Hang on, Dack. Get ready to fire that tow cable. Dack? Dack! Yes, Lord Vader. I've reached the main power generator. The shield will be down in moments. You may start your landing. Rouge Three. Copy, Rouge Leader Wedge, I've lost my gunner.You'll have to make this shot.</p>
									</div>
								</uib-tab>
								<uib-tab heading="Setting">
									<div class="pdd-horizon-15">
										<p>If only you had attached my legs, I wouldn't be in this ridiculous position. Now, remember, Chewbacca, you have a responsibility to me, so don't do anything foolish. What's going on...buddy? You're being put into carbon freeze. What if he doesn't survive? He's worth a lot to me. The Empire will compensate you if he dies. Put him in! Oh, no! No, no, no! Stop, Chewbacca, stop...! Stop, Chewie, stop! Do you hear me? Stop! Yes, stop, please! I'm not ready to die. Chewie! Chewie, this won't help me.</p>
									</div>
								</uib-tab>
							</uib-tabset>
						</div>
					</div>
					<div class="card">
						<div class="card-block">
							<h4 class="card-title mrg-btm-20">Nav Pills</h4>
							<uib-tabset class="pill-success" type="pills">
								<uib-tab heading="Home">  
									<div class="pdd-horizon-15 pdd-vertical-20">
										<p>Oh, yes, that's very good. I like that. Oh! Something's not right because now I can't see. Wait. Wait! Oh, my! what have you done? I'm backwards, you stupid furball. Only an overgrown mophead like you would be stupid enough... I feel terrible. Why are they doing this? They never even asked me any questions. Lando. Get out of here, Lando! Shut up and listen! Vader has agreed to turn Leia and Chewie over to me. Over to you? They'll have to stay here, but at least they'll be safe.</p>
									</div>
								</uib-tab>
								<uib-tab heading="Profile">
									<div class="pdd-horizon-15 pdd-vertical-20">
										<p>Rouge Group, use your harpoons and tow cables. Go for the legs. It might be our only chance of stopping them. All right, stand by, Dack. Luke, we've got a malfunction in fire control. I'll have to cut in the auxiliary. ust hang on. Hang on, Dack. Get ready to fire that tow cable. Dack? Dack! Yes, Lord Vader. I've reached the main power generator. The shield will be down in moments. You may start your landing. Rouge Three. Copy, Rouge Leader Wedge, I've lost my gunner.You'll have to make this shot.</p>
									</div>
								</uib-tab>
								<uib-tab heading="Setting">
									<div class="pdd-horizon-15 pdd-vertical-20">
										<p>If only you had attached my legs, I wouldn't be in this ridiculous position. Now, remember, Chewbacca, you have a responsibility to me, so don't do anything foolish. What's going on...buddy? You're being put into carbon freeze. What if he doesn't survive? He's worth a lot to me. The Empire will compensate you if he dies. Put him in! Oh, no! No, no, no! Stop, Chewbacca, stop...! Stop, Chewie, stop! Do you hear me? Stop! Yes, stop, please! I'm not ready to die. Chewie! Chewie, this won't help me.</p>
									</div>
								</uib-tab>
							</uib-tabset>
						</div>
					</div>
					<div class="card">
						<div class="card-block">
							<h4 class="card-title mrg-btm-20">Nav Pills</h4>
							<uib-tabset class="pill-info" type="pills">
								<uib-tab heading="Home">  
									<div class="pdd-horizon-15 pdd-vertical-20">
										<p>Oh, yes, that's very good. I like that. Oh! Something's not right because now I can't see. Wait. Wait! Oh, my! what have you done? I'm backwards, you stupid furball. Only an overgrown mophead like you would be stupid enough... I feel terrible. Why are they doing this? They never even asked me any questions. Lando. Get out of here, Lando! Shut up and listen! Vader has agreed to turn Leia and Chewie over to me. Over to you? They'll have to stay here, but at least they'll be safe.</p>
									</div>
								</uib-tab>
								<uib-tab heading="Profile">
									<div class="pdd-horizon-15 pdd-vertical-20">
										<p>Rouge Group, use your harpoons and tow cables. Go for the legs. It might be our only chance of stopping them. All right, stand by, Dack. Luke, we've got a malfunction in fire control. I'll have to cut in the auxiliary. ust hang on. Hang on, Dack. Get ready to fire that tow cable. Dack? Dack! Yes, Lord Vader. I've reached the main power generator. The shield will be down in moments. You may start your landing. Rouge Three. Copy, Rouge Leader Wedge, I've lost my gunner.You'll have to make this shot.</p>
									</div>
								</uib-tab>
								<uib-tab heading="Setting">
									<div class="pdd-horizon-15 pdd-vertical-20">
										<p>If only you had attached my legs, I wouldn't be in this ridiculous position. Now, remember, Chewbacca, you have a responsibility to me, so don't do anything foolish. What's going on...buddy? You're being put into carbon freeze. What if he doesn't survive? He's worth a lot to me. The Empire will compensate you if he dies. Put him in! Oh, no! No, no, no! Stop, Chewbacca, stop...! Stop, Chewie, stop! Do you hear me? Stop! Yes, stop, please! I'm not ready to die. Chewie! Chewie, this won't help me.</p>
									</div>
								</uib-tab>
							</uib-tabset>
						</div>
					</div>
					<div class="card">
						<div class="card-block">
							<h4 class="card-title mrg-btm-20">Nav Pills</h4>
							<uib-tabset class="pill-warning" type="pills">
								<uib-tab heading="Home">  
									<div class="pdd-horizon-15 pdd-vertical-20">
										<p>Oh, yes, that's very good. I like that. Oh! Something's not right because now I can't see. Wait. Wait! Oh, my! what have you done? I'm backwards, you stupid furball. Only an overgrown mophead like you would be stupid enough... I feel terrible. Why are they doing this? They never even asked me any questions. Lando. Get out of here, Lando! Shut up and listen! Vader has agreed to turn Leia and Chewie over to me. Over to you? They'll have to stay here, but at least they'll be safe.</p>
									</div>
								</uib-tab>
								<uib-tab heading="Profile">
									<div class="pdd-horizon-15 pdd-vertical-20">
										<p>Rouge Group, use your harpoons and tow cables. Go for the legs. It might be our only chance of stopping them. All right, stand by, Dack. Luke, we've got a malfunction in fire control. I'll have to cut in the auxiliary. ust hang on. Hang on, Dack. Get ready to fire that tow cable. Dack? Dack! Yes, Lord Vader. I've reached the main power generator. The shield will be down in moments. You may start your landing. Rouge Three. Copy, Rouge Leader Wedge, I've lost my gunner.You'll have to make this shot.</p>
									</div>
								</uib-tab>
								<uib-tab heading="Setting">
									<div class="pdd-horizon-15 pdd-vertical-20">
										<p>If only you had attached my legs, I wouldn't be in this ridiculous position. Now, remember, Chewbacca, you have a responsibility to me, so don't do anything foolish. What's going on...buddy? You're being put into carbon freeze. What if he doesn't survive? He's worth a lot to me. The Empire will compensate you if he dies. Put him in! Oh, no! No, no, no! Stop, Chewbacca, stop...! Stop, Chewie, stop! Do you hear me? Stop! Yes, stop, please! I'm not ready to die. Chewie! Chewie, this won't help me.</p>
									</div>
								</uib-tab>
							</uib-tabset>
						</div>
					</div>
					<div class="card">
						<div class="card-block">
							<h4 class="card-title mrg-btm-20">Nav Pills</h4>
							<uib-tabset class="pill-danger" type="pills">
								<uib-tab heading="Home">  
									<div class="pdd-horizon-15 pdd-vertical-20">
										<p>Oh, yes, that's very good. I like that. Oh! Something's not right because now I can't see. Wait. Wait! Oh, my! what have you done? I'm backwards, you stupid furball. Only an overgrown mophead like you would be stupid enough... I feel terrible. Why are they doing this? They never even asked me any questions. Lando. Get out of here, Lando! Shut up and listen! Vader has agreed to turn Leia and Chewie over to me. Over to you? They'll have to stay here, but at least they'll be safe.</p>
									</div>
								</uib-tab>
								<uib-tab heading="Profile">
									<div class="pdd-horizon-15 pdd-vertical-20">
										<p>Rouge Group, use your harpoons and tow cables. Go for the legs. It might be our only chance of stopping them. All right, stand by, Dack. Luke, we've got a malfunction in fire control. I'll have to cut in the auxiliary. ust hang on. Hang on, Dack. Get ready to fire that tow cable. Dack? Dack! Yes, Lord Vader. I've reached the main power generator. The shield will be down in moments. You may start your landing. Rouge Three. Copy, Rouge Leader Wedge, I've lost my gunner.You'll have to make this shot.</p>
									</div>
								</uib-tab>
								<uib-tab heading="Setting">
									<div class="pdd-horizon-15 pdd-vertical-20">
										<p>If only you had attached my legs, I wouldn't be in this ridiculous position. Now, remember, Chewbacca, you have a responsibility to me, so don't do anything foolish. What's going on...buddy? You're being put into carbon freeze. What if he doesn't survive? He's worth a lot to me. The Empire will compensate you if he dies. Put him in! Oh, no! No, no, no! Stop, Chewbacca, stop...! Stop, Chewie, stop! Do you hear me? Stop! Yes, stop, please! I'm not ready to die. Chewie! Chewie, this won't help me.</p>
									</div>
								</uib-tab>
							</uib-tabset>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<div class="page-title">
		<h4>Accordions</h4>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<uib-accordion class="accordion" close-others="false">
						<div uib-accordion-group class="panel-default" is-open="status.open1" ng-init="status = {open1: true}">
							<uib-accordion-heading>
							    Lando Calrissian <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open1}"></i>
							</uib-accordion-heading>
							<p>Holding her is dangerous. If word of this gets out, it could generate sympathy for the Rebellion in the senate. I have traced the Rebel spies to her. Now she is my only link to find their secret base! She'll die before she tells you anything. Leave that to me. Send a distress signal and then inform the senate that all aboard were killed! Lord Vader, the battle station plans are not aboard this ship! And no transmissions were made.</p>
						</div>
						<div uib-accordion-group class="panel-default" is-open="status.open2">
							<uib-accordion-heading>
							    Grand Moff Tarkin <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open2}"></i>
							</uib-accordion-heading>
							<p>How did I get into this mess? I really don't know how. We seem to be made to suffer. It's our lot in life. I've got to rest before I fall apart. My joints are almost frozen. What a desolate place this is. Where are you going? Well, I'm not going that way. It's much too rocky. This way is much easier. What makes you think there are settlements over there? Don't get technical with me. What mission? What are you talking about? </p>
						</div>
						<div uib-accordion-group class="panel-default" is-open="status.open3">
							<uib-accordion-heading>
							    Mon Calamari <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open3}"></i>
							</uib-accordion-heading>
							<p>Help me, Obi-Wan Kenobi. You're my only hope. What's this? What is what?!? He asked you a question... What is that? Help me, Obi-Wan Kenobi. You're my only hope. Help me, Obi-Wan Kenobi. You're my only hope. Oh, he says it's nothing, sir. Merely a malfunction. Old data. Pay it no mind. Who is she? She's beautiful. I'm afraid I'm not quite sure, sir. Help me, Obi-Wan Kenobi... I think she was a passenger on our last voyage.</p>
						</div>
					</uib-accordion>	
				</div>
				<div class="col-md-6">
					<uib-accordion class="accordion" close-others="true">
						<div uib-accordion-group class="panel-default" is-open="status.open4">
							<uib-accordion-heading>
							    Lando Calrissian <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open4}"></i>
							</uib-accordion-heading>
							<p>Holding her is dangerous. If word of this gets out, it could generate sympathy for the Rebellion in the senate. I have traced the Rebel spies to her. Now she is my only link to find their secret base! She'll die before she tells you anything. Leave that to me. Send a distress signal and then inform the senate that all aboard were killed! Lord Vader, the battle station plans are not aboard this ship! And no transmissions were made.</p>
						</div>
						<div uib-accordion-group class="panel-default" is-open="status.open5" ng-init="status = {open5: true}">
							<uib-accordion-heading>
							    Grand Moff Tarkin <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open5}"></i>
							</uib-accordion-heading>
							<p>How did I get into this mess? I really don't know how. We seem to be made to suffer. It's our lot in life. I've got to rest before I fall apart. My joints are almost frozen. What a desolate place this is. Where are you going? Well, I'm not going that way. It's much too rocky. This way is much easier. What makes you think there are settlements over there? Don't get technical with me. What mission? What are you talking about? </p>
						</div>
						<div uib-accordion-group class="panel-default" is-open="status.open6">
							<uib-accordion-heading>
							    Mon Calamari <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open6}"></i>
							</uib-accordion-heading>
							<p>Help me, Obi-Wan Kenobi. You're my only hope. What's this? What is what?!? He asked you a question... What is that? Help me, Obi-Wan Kenobi. You're my only hope. Help me, Obi-Wan Kenobi. You're my only hope. Oh, he says it's nothing, sir. Merely a malfunction. Old data. Pay it no mind. Who is she? She's beautiful. I'm afraid I'm not quite sure, sir. Help me, Obi-Wan Kenobi... I think she was a passenger on our last voyage.</p>
						</div>
					</uib-accordion>	
				</div>
			</div>
		</div>	
	</div>
</div>