<sidebar class="side-nav">
	<div class="side-nav-inner">
		<div class="side-nav-logo">
			<a ui-sref="index.main">
				<div class="logo logo-dark" style="background-image: url('assets/images/logo/logo.png')"></div>
				<div class="logo logo-white" style="background-image: url('assets/images/logo/logo-white.png')"></div>
			</a>
			<div class="mobile-toggle">
				<a href="" ng-click="app.layout.isMenuCollapsed = !app.layout.isMenuCollapsed ; app.layout.isMenuOpened = !app.layout.isMenuOpened">
					<i class="ti-arrow-circle-left"></i>
				</a>
			</div>
		</div>
		<ul class="side-nav-menu" ui-jq="perfectScrollbar">
			<li class="nav-item">
				<a class="mrg-top-30" ui-sref="index.main">
					<span class="icon-holder">
						<i class="ti-home"></i>
					</span>
					<span class="title">Dashboard</span>
				</a>
			</li>
			<li class="nav-item dropdown" ng-class="{'open':$state.includes('index.apps')}">
				<a class="dropdown-toggle" href="javascript:void(0);">
					<span class="icon-holder">
						<i class="ti-package"></i>
					</span>
					<span class="title">Apps</span>
					<span class="arrow">
						<i class="ti-angle-right"></i>
					</span>
				</a>
				<ul class="dropdown-menu">
					<li ui-sref-active="active">
						<a ui-sref="email-inbox({'emailId': 1})">Email</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="index.apps.calendar">Calendar</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="index.apps.social">Social</a>
					</li>              
				</ul>
			</li>
			<li class="nav-item dropdown" ng-class="{'open':$state.includes('index.ui')}">
				<a class="dropdown-toggle" href="javascript:void(0);">
					<span class="icon-holder">
						<i class="ti-palette"></i>
					</span>
					<span class="title">UI Elements</span>
					<span class="arrow">
						<i class="ti-angle-right"></i>
					</span>
				</a>
				<ul class="dropdown-menu">
					<li ui-sref-active="active">
						<a ui-sref="index.ui.cards">Cards</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="index.ui.buttons">Buttons</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="index.ui.modals">Modals</a>
					</li>
					<li ui-sref-active="active"> 
						<a ui-sref="index.ui.tabs-accordion">Tabs & Accordions</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="index.ui.progress-slider">Progress & Slider</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="index.ui.notification">Notification</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="index.ui.typography">Typography</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="index.ui.icons">Icons</a>
					</li>
				</ul>
			</li>
			<li class="nav-item dropdown" ng-class="{'open':$state.includes('index.forms')}">
				<a class="dropdown-toggle" href="javascript:void(0);">
					<span class="icon-holder">
						<i class="ti-file"></i>
					</span>
					<span class="title">Forms</span>
					<span class="arrow">
						<i class="ti-angle-right"></i>
					</span>
				</a>
				<ul class="dropdown-menu">
					<li ui-sref-active="active">
						<a ui-sref="index.forms.form-elements">Form Elements</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="index.forms.form-layouts">Form Layouts</a>
					</li>  
					<li ui-sref-active="active">
						<a ui-sref="index.forms.form-wizard">Form Wizard</a>
					</li>                     
				</ul>
			</li>
			<li class="nav-item dropdown" ng-class="{'open':$state.includes('index.table')}">
				<a class="dropdown-toggle" href="javascript:void(0);">
					<span class="icon-holder">
						<i class="ti-layout-media-overlay"></i>
					</span>
					<span class="title">Tables</span>
					<span class="arrow">
						<i class="ti-angle-right"></i>
					</span>
				</a>
				<ul class="dropdown-menu">
					<li ui-sref-active="active">
						<a ui-sref="index.table.basic-table">Basic Table</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="index.table.data-table">Data Table</a>
					</li>                     
				</ul>
			</li>
			<li class="nav-item dropdown" ng-class="{'open':$state.includes('index.charts')}">
				<a class="dropdown-toggle" href="javascript:void(0);">
					<span class="icon-holder">
						<i class="ti-pie-chart"></i>
					</span>
					<span class="title">Charts</span>
					<span class="arrow">
						<i class="ti-angle-right"></i>
					</span>
				</a>
				<ul class="dropdown-menu">
					<li ui-sref-active="active">
						<a ui-sref="index.charts.nvd3">Nvd3</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="index.charts.chartjs">ChartJs</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="index.charts.sparkline">Sparkline</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="index.charts.rickshaw">Ricksaw</a>
					</li>
				</ul>
			</li>
			<li class="nav-item dropdown" ng-class="{'open':$state.includes('index.maps')}">
				<a class="dropdown-toggle" href="javascript:void(0);">
					<span class="icon-holder">
						<i class="ti-map-alt"></i>
					</span>
					<span class="title">Map</span>
					<span class="arrow">
						<i class="ti-angle-right"></i>
					</span>
				</a>
				<ul class="dropdown-menu">
					<li ui-sref-active="active">
						<a ui-sref="index.maps.google">Google Map</a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="index.maps.vector">Vector Map</a>
					</li>               
				</ul>
			</li>
			<li class="nav-item dropdown" ng-class="{'open':$state.includes('index.extra')}">
				<a class="dropdown-toggle" href="javascript:void(0);">
					<span class="icon-holder">
						<i class="ti-cloud"></i>
					</span>
					<span class="title">Extra</span>
					<span class="arrow">
						<i class="ti-angle-right"></i>
					</span>
				</a>
				<ul class="dropdown-menu">
					<li ui-sref-active="active">
						<a ui-sref="index.extra.invoice">Invoice</a>
					</li>  
					<li ui-sref-active="active">
						<a ui-sref="index.extra.account">Account Settings</a>
					</li> 
					<li ui-sref-active="active">
						<a ui-sref="index.extra.faq">FAQ</a>
					</li> 
					<li ui-sref-active="active">
						<a ui-sref="index.extra.gallery">Gallery</a>
					</li> 
					<li ui-sref-active="active">
						<a ui-sref="others.signin">Sign In</a>
					</li> 
					<li ui-sref-active="active">
						<a ui-sref="others.signin2">Sign In 2</a>
					</li>  
					<li ui-sref-active="active">
						<a ui-sref="others.signup">Sign Up</a>
					</li> 
					<li ui-sref-active="active">
						<a ui-sref="others.404">404</a>
					</li>  
					<li ui-sref-active="active">
						<a ui-sref="others.500">500</a>
					</li>              
				</ul>
			</li>
			<li class="nav-item dropdown">
				<a class="dropdown-toggle" href="javascript:void(0);">
					<span class="icon-holder">
						<i class="ti-view-list-alt"></i>
					</span>
					<span class="title">Multiple Levels</span>
					<span class="arrow">
						<i class="ti-angle-right"></i>
					</span>
				</a>
				<ul class="dropdown-menu">
					<li class="nav-item dropdown">
						<a href="javascript:void(0);">
							<span>Level 1.2</span>
						</a>
					</li>	
					<li class="nav-item dropdown">
						<a href="javascript:void(0);">
							<span>Level 1.1</span>
							<span class="arrow">
								<i class="ti-angle-right"></i>
							</span>
						</a>
						<ul class="dropdown-menu">
							<li >
								<a href="about-1.html">Level 2</a>
							</li>         
						</ul>
					</li>         
				</ul>
			</li>
		</ul>
	</div>
</sidebar>