<div class="container-fluid" >
    <div class="page-title">
        <h4>Form Layouts</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-heading border bottom">
                    <h4 class="card-title">Default Form Layout</h4>
                </div>
                <div class="card-block">
                    <div class="mrg-top-40">
                        <div class="row">
                            <div class="col-md-8 ml-auto mr-auto">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <input type="text" placeholder="Enter email" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <input type="text" placeholder="Enter email" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Email address</label>
                                                <input type="email" placeholder="Enter email" class="form-control">
                                            </div>
                                        </div>
                                    </div>	
                                <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input type="password" placeholder="Password" class="form-control">
                                            </div> 
                                        </div>
                                    </div>	
                                    <div class="row">
                                        <div class="col-md-6 col-xs-6">
                                            <div class="checkbox">
                                            <input id="check1" type="checkbox">
                                            <label for="check1">I agree to the <a class="text-link" href="">Term & Conditions</a>.</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-6">
                                            <div class="text-right mrg-top-5">
                                                <button type="submit" class="btn btn-primary">Create Account</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>	
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-heading border bottom">
                    <h4 class="card-title">Horizontal Form Layout</h4>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-9 ml-auto mr-auto">
                            <form class="form-horizontal mrg-top-40 pdd-right-30 ng-pristine ng-valid">
                                <div class="form-group row">
                                    <label for="form-1-1" class="col-md-1 control-label">Name</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" id="form-1-1" placeholder="Name">
                                    </div> 
                                </div>
                                <div class="form-group row">
                                    <label for="form-1-3" class="col-md-1 control-label">Email</label>
                                    <div class="col-md-10">
                                        <input type="email" class="form-control" id="form-1-3" placeholder="Email">
                                    </div> 
                                </div>
                                <div class="form-group row">
                                    <label for="form-1-4" class="col-md-1 control-label">Gender</label>
                                    <div class="col-md-10">
                                        <div class="radio radio-inline">
                                            <input type="radio" checked="" name="radio1" id="rad1">
                                            <label for="rad1">Male</label>
                                        </div>
                                        <div class="radio radio-inline">
                                            <input type="radio" checked="" name="radio1" id="rad2">
                                            <label for="rad2">Female</label>
                                        </div>
                                    </div> 
                                </div>
                                <div class="form-group row">
                                    <label for="form-1-5" class="col-md-1 control-label">Textarea</label>
                                    <div class="col-md-10">
                                        <textarea class="form-control" rows="3" id="form-1-5"></textarea>
                                        <div class="text-right mrg-top-15">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                            <button class="btn btn-default">Clear</button>
                                        </div>
                                    </div> 
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>	
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-heading border bottom">
                    <h4 class="card-title">Form Validation Layout</h4>
                </div>
                <div class="card-block">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-8 ml-auto mr-auto">
                                <form role="form" novalidate>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Name <small class="text-normal">*Minimum 8 characters</small></label>
                                                <input class="form-control" [ngClass]="{'error' : minlength?.errors?.minlength}" placeholder="Enter your name" type="text" ngModel name="minlength" #minlength="ngModel" minlength="8"/>
                                                <label class="error" *ngIf="minlength?.errors?.minlength">Please enter at least 8 characters.</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="email" class="form-control" placeholder="Enter a valid email format" ngModel name="email" #email="ngModel" email="false" [ngClass]="{'error': email?.errors?.email}">
                                                <label class="error" *ngIf="email?.errors?.email">Please enter a valid email address.</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Website</label>
                                                <input type="url" class="form-control" name="url" placeholder="Insert a valid URL format" ngModel name="url" #url="ngModel" url [ngClass]="{'error': url?.errors?.url}">
                                                <label class="error" *ngIf="url?.errors?.url">Please enter a valid URL.</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Amount</label>
                                                <input type="number" class="form-control" name="number" placeholder="Enter a Number" ngModel name="requried" #requried="ngModel" required="false" [ngClass]="{'error': requried?.errors?.required}">
                                                <label class="error" *ngIf="requried?.errors?.required">This field is required.</label>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>			
</div>