<div class="container-fluid">
	<div class="page-title">
		<h4>FAQ</h4>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div sticky offset="80">
					<a ui-sref="index.extra.faq({'#': 'ask-1'})" class="card mrg-btm-15" du-smooth-scroll offset="80">
						<div class="card-block padding-25">
							<ul class="list-unstyled list-info">
								<li>
									<span class="thumb-img pdd-top-10">
										<i class="ti-help-alt text-primary font-size-30"></i>
									</span>
									<div class="info">
										<b class="text-dark font-size-18">General Question</b>
										<p class="no-mrg-btm ">New Comer? Start with the basic</p>
									</div>
								</li>
							</ul>
						</div>
					</a>
					<a ui-sref="index.extra.faq({'#': 'ask-2'})" class="card mrg-btm-15" du-smooth-scroll offset="80">
						<div class="card-block padding-25">
							<ul class="list-unstyled list-info">
								<li>
									<span class="thumb-img pdd-top-10">
										<i class="ti-money text-success font-size-30"></i>
									</span>
									<div class="info">
										<b class="text-dark font-size-18">Buy & Sell</b>
										<p class="no-mrg-btm">Know more about Buy & Sell</p>
									</div>
								</li>
							</ul>
						</div>
					</a>
					<a ui-sref="index.extra.faq({'#': 'ask-3'})" class="card mrg-btm-15" du-smooth-scroll offset="80">
						<div class="card-block padding-25">
							<ul class="list-unstyled list-info">
								<li>
									<span class="thumb-img pdd-top-10">
										<i class="ti-comments-smiley text-info font-size-30"></i>
									</span>
									<div class="info">
										<b class="text-dark font-size-18">About Services</b>
										<p class="no-mrg-btm">Know more about our features</p>
									</div>
								</li>
							</ul>
						</div>
					</a>
					<a ui-sref="index.extra.faq({'#': 'ask-4'})" class="card mrg-btm-15" du-smooth-scroll offset="80">
						<div class="card-block padding-25">
							<ul class="list-unstyled list-info">
								<li>
									<span class="thumb-img pdd-top-10">
										<i class="ti-shield text-warning font-size-30"></i>
									</span>
									<div class="info">
										<b class="text-dark font-size-18">Privacy & Policy</b>
										<p class="no-mrg-btm">We take our security strict</p>
									</div>
								</li>
							</ul>
						</div>
					</a>
					<a ui-sref="index.extra.faq({'#': 'ask-5'})" class="card mrg-btm-15" du-smooth-scroll offset="80">
						<div class="card-block padding-25">
							<ul class="list-unstyled list-info">
								<li>
									<span class="thumb-img pdd-top-10">
										<i class="ti-truck text-danger font-size-30"></i>
									</span>
									<div class="info">
										<b class="text-dark font-size-18">Shipping</b>
										<p class="no-mrg-btm">Know more about shipping</p>
									</div>
								</li>
							</ul>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-8">
				<div class="card" id="ask-1">
					<div class="card-block">
						<ul class="list-unstyled list-info">
							<li>
								<span class="thumb-img pdd-top-10">
									<i class="ti-help-alt text-primary font-size-30"></i>
								</span>
								<div class="info">
									<b class="text-dark font-size-22">General Question</b>
									<p class="no-mrg-btm ">New Comer? Start with the basic</p>
								</div>
							</li>
						</ul>
						<div class="mrg-top-30">
							<uib-accordion class="accordion border-less" close-others="false">
								<div uib-accordion-group class="panel-default" is-open="status.open1" ng-init="status = {open1: true}">
									<uib-accordion-heading>
									    What is Lorem Ipsum <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open1}"></i>
									</uib-accordion-heading>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
								</div>
								<div uib-accordion-group class="panel-default" is-open="status.open2">
									<uib-accordion-heading>
									    Where does it come from? <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open2}"></i>
									</uib-accordion-heading>
									<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin word. </p>
								</div>
								<div uib-accordion-group class="panel-default" is-open="status.open3">
									<uib-accordion-heading>
									    Why do we use it? <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open3}"></i>
									</uib-accordion-heading>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.</p>
								</div>
								<div uib-accordion-group class="panel-default" is-open="status.open4">
									<uib-accordion-heading>
									    Where can I get some? <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open4}"></i>
									</uib-accordion-heading>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
								</div>
								<div uib-accordion-group class="panel-default" is-open="status.open4">
									<uib-accordion-heading>
									    How It Works ? <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open4}"></i>
									</uib-accordion-heading>
									<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
								</div>
							</uib-accordion>	
						</div>
					</div>
				</div>
				<div class="card" id="ask-2">
					<div class="card-block">
						<ul class="list-unstyled list-info">
							<li>
								<span class="thumb-img pdd-top-10">
									<i class="ti-money text-success font-size-30"></i>
								</span>
								<div class="info">
									<b class="text-dark font-size-22">Buy & Sell</b>
									<p class="no-mrg-btm">Know more about Buy & Sell</p>
								</div>
							</li>
						</ul>
						<div class="mrg-top-30">
							<uib-accordion class="accordion border-less" close-others="false">
								<div uib-accordion-group class="panel-default" is-open="status.open1">
									<uib-accordion-heading>
									    What is Lorem Ipsum <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open1}"></i>
									</uib-accordion-heading>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
								</div>
								<div uib-accordion-group class="panel-default" is-open="status.open2">
									<uib-accordion-heading>
									    Where does it come from? <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open2}"></i>
									</uib-accordion-heading>
									<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin word. </p>
								</div>
								<div uib-accordion-group class="panel-default" is-open="status.open3">
									<uib-accordion-heading>
									    Why do we use it? <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open3}"></i>
									</uib-accordion-heading>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.</p>
								</div>
								<div uib-accordion-group class="panel-default" is-open="status.open4">
									<uib-accordion-heading>
									    Where can I get some? <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open4}"></i>
									</uib-accordion-heading>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
								</div>
								<div uib-accordion-group class="panel-default" is-open="status.open4">
									<uib-accordion-heading>
									    How It Works ? <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open4}"></i>
									</uib-accordion-heading>
									<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
								</div>
							</uib-accordion>	
						</div>
					</div>
				</div>
				<div class="card" id="ask-3">
					<div class="card-block">
						<ul class="list-unstyled list-info">
							<li>
								<span class="thumb-img pdd-top-10">
									<i class="ti-comments-smiley text-info font-size-30"></i>
								</span>
								<div class="info">
									<b class="text-dark font-size-22">About Services</b>
									<p class="no-mrg-btm">Know more about our features</p>
								</div>
							</li>
						</ul>
						<div class="mrg-top-30">
							<uib-accordion class="accordion border-less" close-others="false">
								<div uib-accordion-group class="panel-default" is-open="status.open1">
									<uib-accordion-heading>
									    What is Lorem Ipsum <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open1}"></i>
									</uib-accordion-heading>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
								</div>
								<div uib-accordion-group class="panel-default" is-open="status.open2">
									<uib-accordion-heading>
									    Where does it come from? <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open2}"></i>
									</uib-accordion-heading>
									<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin word. </p>
								</div>
								<div uib-accordion-group class="panel-default" is-open="status.open3">
									<uib-accordion-heading>
									    Why do we use it? <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open3}"></i>
									</uib-accordion-heading>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.</p>
								</div>
								<div uib-accordion-group class="panel-default" is-open="status.open4">
									<uib-accordion-heading>
									    Where can I get some? <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open4}"></i>
									</uib-accordion-heading>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
								</div>
								<div uib-accordion-group class="panel-default" is-open="status.open4">
									<uib-accordion-heading>
									    How It Works ? <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open4}"></i>
									</uib-accordion-heading>
									<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
								</div>
							</uib-accordion>	
						</div>
					</div>
				</div>
				<div class="card" id="ask-4">
					<div class="card-block">
						<ul class="list-unstyled list-info">
							<li>
								<span class="thumb-img pdd-top-10">
									<i class="ti-shield text-warning font-size-30"></i>
								</span>
								<div class="info">
									<b class="text-dark font-size-22">Privacy & Policy</b>
									<p class="no-mrg-btm">We take our security strict</p>
								</div>
							</li>
						</ul>
						<div class="mrg-top-30">
							<uib-accordion class="accordion border-less" close-others="false">
								<div uib-accordion-group class="panel-default" is-open="status.open1">
									<uib-accordion-heading>
									    What is Lorem Ipsum <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open1}"></i>
									</uib-accordion-heading>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
								</div>
								<div uib-accordion-group class="panel-default" is-open="status.open2">
									<uib-accordion-heading>
									    Where does it come from? <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open2}"></i>
									</uib-accordion-heading>
									<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin word. </p>
								</div>
								<div uib-accordion-group class="panel-default" is-open="status.open3">
									<uib-accordion-heading>
									    Why do we use it? <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open3}"></i>
									</uib-accordion-heading>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.</p>
								</div>
								<div uib-accordion-group class="panel-default" is-open="status.open4">
									<uib-accordion-heading>
									    Where can I get some? <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open4}"></i>
									</uib-accordion-heading>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
								</div>
								<div uib-accordion-group class="panel-default" is-open="status.open4">
									<uib-accordion-heading>
									    How It Works ? <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open4}"></i>
									</uib-accordion-heading>
									<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
								</div>
							</uib-accordion>	
						</div>
					</div>
				</div>
				<div class="card" id="ask-5">
					<div class="card-block">
						<ul class="list-unstyled list-info">
							<li>
								<span class="thumb-img pdd-top-10">
									<i class="ti-truck text-danger font-size-30"></i>
								</span>
								<div class="info">
									<b class="text-dark font-size-22">Shipping</b>
									<p class="no-mrg-btm">Know more about shipping</p>
								</div>
							</li>
						</ul>
						<div class="mrg-top-30">
							<uib-accordion class="accordion border-less" close-others="false">
								<div uib-accordion-group class="panel-default" is-open="status.open1">
									<uib-accordion-heading>
									    What is Lorem Ipsum <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open1}"></i>
									</uib-accordion-heading>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
								</div>
								<div uib-accordion-group class="panel-default" is-open="status.open2">
									<uib-accordion-heading>
									    Where does it come from? <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open2}"></i>
									</uib-accordion-heading>
									<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin word. </p>
								</div>
								<div uib-accordion-group class="panel-default" is-open="status.open3">
									<uib-accordion-heading>
									    Why do we use it? <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open3}"></i>
									</uib-accordion-heading>
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.</p>
								</div>
								<div uib-accordion-group class="panel-default" is-open="status.open4">
									<uib-accordion-heading>
									    Where can I get some? <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open4}"></i>
									</uib-accordion-heading>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
								</div>
								<div uib-accordion-group class="panel-default" is-open="status.open4">
									<uib-accordion-heading>
									    How It Works ? <i class="icon ti-arrow-circle-down" ng-class="{'collapsed': !status.open4}"></i>
									</uib-accordion-heading>
									<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
								</div>
							</uib-accordion>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>