.txt-al-left{
    text-align: left !important;
}

.txt-al-center{
    text-align: center;
}

.txt-al-right{
    text-align: right;
}

.ver-mid{
    vertical-align: middle;
}

.ver-bottom{
    vertical-align: text-bottom;
}

.wt-500{
    font-weight: 500;
}

.wd-auto{
    width: auto;
}

.ht-450{
    height: 450px;
}

.line-height_65{
    line-height: 65px
}

.ver-ht-20{
    height: 20%;
}

.ver-ht-80{
    height: 50%;
}

.img-logo{
    width: auto;
    height: 150px;
}
/*PADDING*/
.pdd-top-btm-70{
    padding:70px 0;
}


.pdd-lf-10{
    padding-left: 10px;
}

.pdd-lf-15{
    padding-left: 15px;
}

.pdd-lf-20{
    padding-left: 20px;
}

.pdd-rt-10{
    padding-right: 10px;
}

input[type=file] {
    display: none;
}

.make_point{
    @import compass;
    cursor: pointer;
}

/*BORDER*/
.brdr-btm-e5eaf3{
    border-bottom: 1px solid #e5eaf3;
}

.brdr-dash-e5eaf3{
    border: 2px dashed grey;
}

.brdr-top-e5eaf3{
    border-top: 2px solid #e5eaf3;
}

.dataTables_wrapper .dataTables_length{
    color: slategray;
}

.dataTables_wrapper .dataTables_filter{
    color: slategray;
}

.table > thead > tr > th{
    color: slategray;
}

.overlay{
    position:relative;
    left:0;
    bottom: 0;
    width:100%;
    height:30%;
    background:rgba(0,0,0,0.3);
}

.txt-color-red{
    color: red;
}

.txt-color-slategray{
    color: slategray !important;
}

.txt-color-green{
    color: green;
}

.txt-color-orange{
    color: orange;
}

.txt-color-rebeccapurple{
    color: rebeccapurple;
}

.txt-color-888da8{
    color: #888da8;
}

.txt-color-0c7bbe{
    color: #0c7bbe !important;
}

.txt-color-0f9aee{
    color: #0f9aee !important;
}



.box{
    float:left;
    overflow: hidden;
    /*background: #f0e68c;*/
}
/* Add padding and border to inner content
for better animation effect */
.box-inner{
    width: 100%;
    padding: 10px;
    border: 1px solid #a29415;
}