.txt-al-left{
    text-align: left;
}

.txt-al-center{
    text-align: center;
}

.txt-al-right{
    text-align: right;
}

.ver-mid{
    vertical-align: text-bottom;
    /*vertical-align: middle;*/
}

.wd-auto{
    width: auto;
}

.ht-450{
    height: 450px;
}

.ver-ht-20{
    height: 20%;
}

.ver-ht-80{
    height: 50%;
}

.img-logo{
    width: auto;
    height: 150px;
}
/*PADDING*/
.pdd-top-btm-70{
    padding:70px 0;
}


.pdd-lf-10{
    padding-left: 10px;
}

.pdd-lf-15{
    padding-left: 15px;
}

.pdd-lf-20{
    padding-left: 20px;
}

.pdd-rt-10{
    padding-right: 10px;
}

input[type=file] {
    display: none;
}

.make_point{
    @import compass;
    cursor: pointer;
}

/*BORDER*/
.brdr-btm-e5eaf3{
    border-bottom: 1px solid #e5eaf3;
}

.brdr-dash-e5eaf3{
    border: 2px dashed grey;
}

.brdr-top-e5eaf3{
    border-top: 2px solid #e5eaf3;
}
