<div class="modal-header">
	<h4>Modal Template</h4>
</div>
<div class="modal-body">
	<p>Orbiting the planet at maximum velocity. The moon with the Rebel base will be in range in thirty minutes. This will be a day long remembered. It has seen the end of Kenobi and it will soon see the end of the Rebellion.</p>
	<p>A fighter that size couldn't get this deep into space on its own. Well, he ain't going to be around long enough to tell anyone about us. Look at him. He's headed for that small moon. I think I can get him before he gets there...he's almost in range. That's no moon! It's a space station. It's too big to be a space station. I have a very bad feeling about this. Yeah, I think your right. Full reverse! Chewie, lock in the auxiliary power. Why are we still moving towards it? We're caught in a tractor beam! It's pulling us in! But there's gotta be something you can do! There's nothin' I can do about it, kid. I'm in full power. I'm going to have to shut down. But they're not going to get me without a fight! You can't win. But there are alternatives to fighting.</p>
</div>
<div class="modal-footer no-border">
	<div class="text-right">
		<button class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
		<button class="btn btn-primary btn-sm" ng-click="ok()">OK</button>
	</div>
</div>