<div class="container-fluid" ng-controller="CalendarCtrl as ctrl">
	<div class="row">
		<div class="col-md-4">
			<div class="card calendar-event">
				<div class="card-block overlay-dark bg" style="background-image: url('assets/images/others/img-8.jpg')">
					<div class="text-center">
						<h1 class="font-size-65 text-light mrg-btm-5 lh-1">28<span class="font-size-18">th</span></h1>
						<h2 class="no-mrg-top">Sunday</h2>
					</div>
				</div>
				<div class="card-block">
					<button type="button" class="add-event btn-warning" ng-click="ctrl.addEvent()">
                    	<i class="ti-plus"></i>
                    </button>
                    <ul class="event-list">
                        <li class="event-items" ng-repeat="event in events">
                            <a href="" class="" ng-click="eventEdit(event)">
                                <span class="bullet {{event.bullet}}"></span>
                                <span class="event-name"> {{event.title}}</span>
                                <div class="event-detail">
	                                <span>{{event.start | date:"MMM dd"}} - {{event.end | date:"MMM dd"}}</span>
	                                <i>{{event.desc}}</i>
                                </div>
                            </a>
                            <a href="" class="remove" ng-click="ctrl.remove($index)">
                            	<i class="ti-trash"></i>
                            </a>
                        </li>
                    </ul>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div ui-calendar="ctrl.calendarConfig.calendar" ng-model="eventSources"></div>
		</div>
	</div>
</div>